.taskbar{
    color: rgb(182, 43, 43);
    background-color: rgb(32, 247, 128);height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttoncolor{
    color: rgb(67, 239, 5);
}
.alingingdata{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    
}
.datatwo{
    display: flex;
    justify-content: space-around;
    border: 1px dashed;
}
.datathree{
    display: flex;
    justify-content: space-between;
    border: 1px dotted;
}
.all_data{
    border: 1px solid red;
}
.tableborder{
    border: 10px solid cornflowerblue;
    padding: 0px 0px 0px 50px;
    margin: 20px;
}